# [Populating and iterracting with the database using sqlAlchemy](https://classroom.udacity.com/courses/ud088/lessons/3621198668/concepts/36123887380923)

In [54]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# import the classes created in the setup file
from database_setup import Base, Restaurant, MenuItem

# with wich database to comunicate 
engine = create_engine('sqlite:///restaurantmenu.db')

# bind the database to the engine class
Base.metadata.bind = engine

# Create a session maker object. Establish a link of communication
# between our code executions and the engine
DBSession = sessionmaker(bind = engine)

session = DBSession()

## Creating a restorant table is equal at creating an object

In [12]:
# Creating a restorant table is equal at creating an object
myFirstRestaurant = Restaurant(name = "Pizza Palace")
# to persist it in the db i need to perform
session.add(myFirstRestaurant) # not it is in the "staging zone"
session.commit() # now it is stored at my db

In [55]:
# checking if the commit worked. Applying a query
print(session.query(Restaurant).all())

[<database_setup.Restaurant object at 0x7fd789cf26d8>, <database_setup.Restaurant object at 0x7fd789cf2780>, <database_setup.Restaurant object at 0x7fd789cf26a0>, <database_setup.Restaurant object at 0x7fd789cf2cc0>, <database_setup.Restaurant object at 0x7fd789d1d2e8>, <database_setup.Restaurant object at 0x7fd789d1d8d0>, <database_setup.Restaurant object at 0x7fd789d1d160>, <database_setup.Restaurant object at 0x7fd789d1d748>, <database_setup.Restaurant object at 0x7fd789d1d080>, <database_setup.Restaurant object at 0x7fd789d1d6a0>, <database_setup.Restaurant object at 0x7fd789d1d400>, <database_setup.Restaurant object at 0x7fd789d1dc18>, <database_setup.Restaurant object at 0x7fd789d1dc50>, <database_setup.Restaurant object at 0x7fd789d1d6d8>, <database_setup.Restaurant object at 0x7fd789ce8748>, <database_setup.Restaurant object at 0x7fd789ce86a0>, <database_setup.Restaurant object at 0x7fd789ce89e8>]

In [14]:
# adding MenuItem elements
cheesepizza = MenuItem(
	name = "Cheese Pizza"
	, description = "pizza description"
	, course = "Entree"
	, price = "$8.99"
	, restaurant = myFirstRestaurant )

session.add(cheesepizza)
session.commit()

In [15]:
# checking if the commit worked. Applying a query
print(session.query(MenuItem).all())

[<database_setup.MenuItem object at 0x7f1959582cc0>]

## Reading from the database

In [56]:
# single row references in the database
firstResult = session.query(Restaurant).first()

In [57]:
firstResult.name

'Pizza Palace'

## Query the data in the db

In [8]:
# get a list of all the items in the db
items = session.query(MenuItem).all()
rs = session.query(Restaurant).all()

In [9]:
print(type(rs))

<class 'list'>

In [11]:
for item in items:
    #print(item.name)
    pass
    
print()

for r in rs:
    #print(r.name)
    pass

In [4]:
# Run the script for populating the db with other data
# !python3 populating_db.py

added menu items!

## CRUD Update

- Find the entry to update
- Reset/update the values
- Add to session
- session.commit()

In [32]:
# update the VeggieBurgers
vgBurgers = session.query(MenuItem).filter_by(name = 'Veggie Burger')
print(type(vgBurgers))

<class 'sqlalchemy.orm.query.Query'>

In [33]:
for burger in vgBurgers:
    #print(type(burger))
    print(burger.id, burger.price, burger.restaurant.name)

2 $2.99 Urban Burger
10 $5.99 Urban Burger
21 $9.50 Panda Garden
27 $6.80 Thyme for That Vegetarian Cuisine
37 $7.00 Andala's
43 $9.50 Auntie Ann's Diner'

In [25]:
# .one() returns the object not a list of objects
UrbanVaggieBurger = session.query(MenuItem).filter_by(id = 2).one()
print(type(UrbanVaggieBurger))
print(UrbanVaggieBurger.price)

<class 'database_setup.MenuItem'>
$2.99

In [24]:
# Update the price of the Veggie Burger
UrbanVaggieBurger.price = "$2.99"
session.add(UrbanVaggieBurger)
session.commit()

## Update all the Veggi Burgers prices in the MenuItem
get all the burgers and update their price tag

In [37]:
# Edid all the Veggi Burgers prices in the MenuItem
vgBurgers = session.query(MenuItem).filter_by(name = 'Veggie Burger')

#print(type(vgBurgers))

for burger in vgBurgers:
    #print(type(burger))
    #print("id:", burger.id,"price:", burger.price,"restaurant:", burger.restaurant.name) 
    if burger.price != "$2.99":
        burger.price = "$2.99"
        session.add(burger)
        session.commit()

In [38]:
for burger in vgBurgers:
        print("id:", burger.id,"price:", burger.price,"restaurant:", burger.restaurant.name)

id: 2 price: $2.99 restaurant: Urban Burger
id: 10 price: $2.99 restaurant: Urban Burger
id: 21 price: $2.99 restaurant: Panda Garden
id: 27 price: $2.99 restaurant: Thyme for That Vegetarian Cuisine
id: 37 price: $2.99 restaurant: Andala's
id: 43 price: $2.99 restaurant: Auntie Ann's Diner'

## Delete
- Find the entry
- session.delete on the item
- session.commit

In [53]:
# Find
try:
    spinach = session.query(MenuItem).filter_by(name = 'Spinach Ice Cream').one()
    print(spinach.restaurant.name)
    
except:
    print(" No entry found!!!")

 No entry found!!!

In [44]:
# Delete and commit
session.delete(spinach)
session.commit()